<p></p>

<div class="row">
  <div class="col-md-10 col-md-push-1">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Proyectos
        <span class="pull-right"><%= link_to 'Nuevo Proyecto', new_project_path, class: 'btn btn-xs btn-success' %></span>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          <% @cont = 1 %>
          <% @projects.each do |project| %>
            <tr>
              <td><%= @cont %></td>
              <td><%= project.name %></td>
              <td><%= project.description %></td>
              <td>
                <%= link_to 'Edit', edit_project_path(project), class: 'btn btn-xs btn-success' %>
                <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
