<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-10 col-md-push-1">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <%= @form.name %>
        <span class="pull-right"><%= link_to 'Nueva pregunta', new_question_path, class: "btn btn-success btn-xs" %><%= link_to 'Editar', edit_form_path(@form), class: 'btn btn-default btn-xs' %></span>
      </div>

      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Titulo</th>
            <th>tipo</th>
            <th>Acciones</the>
          </tr>
        </thead>

        <tbody>
          <% @cont = 1 %>
          <% @questions.each do |q| %>
            <tr data-toggle="collapse" data-target="<%= q.id %>" class="accordion-toggle" id="<%= q.id %>">
              <td><%= @cont %></td>
              <td><%= q.title %></td>
              <td><%= q.qtype.name if q.qtype %></td>
              <td>
                <%= link_to 'Editar', edit_question_path(q), class: "btn btn-success" %>
                <% if q.qtype == Qtype.find_by(name: 'Cerrada') %>
                  <%= link_to 'Nueva respuesta', new_answer_path(q), class: "btn btn-primary" %>
                <% end %>
              </td>
            </tr>
            
            <% if q.answers.length > 0 %>
                <div class="hola">
                <% @cont2 = 1 %>
                  
                <% q.answers.each do |a| %>
                  <tr class="collapse out" id="row-<%= q.id.to_s+"."+@cont2.to_s %>">
                    <td></td>
                    <td><%= q.id.to_s+"."+@cont2.to_s %></td>
                    <td colspan="2"><%= a.answer %></td>
                    <% @cont2 += 1 %>
                  </tr>
                <% end %>
                </div>
            <% end %>
            
            <% @cont += 1 %>
          <% end %>
        </tbody>

        <tfoot>
          <tr>
            <th>#</th>
            <th>Titulo</th>
            <th>tipo</th>
            <th>Acciones</the>
          </tr>
        </tfoot>
      </table>

    </div>
  </div>
</div>

<script>
  var row = $('.accordion-toggle');
  row.click(function(event) {
    var id_name = "row-" + this.id;
    var id = $("tr[id*='" + id_name + "']");

    if($(id).hasClass("out")) {
      $(id).each(function(){
        $(this).addClass("in");
        $(this).removeClass("out");
      });
    } else {
      $(id).each(function(){
        $(this).addClass("out");
        $(this).removeClass("in");
      });
    }
  });
</script>